/* mobile styles */
html, body {
    background-color: #F8F8F8;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw; /* Ensure it stretches to full viewport width */
    overflow-x: hidden;
}

/* fonts */
 .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

/* mobile styles */ 
.header-text__desktop-button {
    display: none;
}
.site-nav__divider--mobile-hide {
    display: none;
}
.site-nav__divider--small-screen-hide{
    display: none;
}
.site-nav__button--hidden {
    display: none;
}
.site-nav {
    box-sizing: border-box; /* Include padding and borders in the element's width */
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;    /* Hides any horizontal overflow */
    width: 100vw;           /* Full width of its container */
    height: 88px; 
    background-color: #FFFFFF;
    border-bottom: 1px solid #D9FFF5;
}

.site-nav img {
    width: auto;           /* Maintain aspect ratio */
}

.site-nav__left {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around; /* or space-around, space-evenly */
    align-items: center; /* Align items vertically in the center (optional) */
    padding: 10px; /* Optional padding for the container */
}
    
.site-nav__left img {
    padding: 10px 7px;
}

.site-nav__right-fixed {
    box-sizing: border-box;
    display: flex;
    /*justify-content: space-around; */
    align-items: center; /* Align items vertically in the center (optional) */
    padding: 10px; /* Optional padding for the container */
}
    
.site-nav__right-fixed img {
    padding: 10px 7px;
}
.site-nav__divider {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around; /* or space-around, space-evenly */
    align-items: center; /* Align items vertically in the center (optional) */
    padding: 10px; /* Optional padding for the container */
}

.header-text {
    display: flex;
    flex-direction: row; 
    width: 100%; 
     
}
.header-text h1 {
    padding: 15px;
}
.secondary-nav {
    display: flex;            
    flex-direction: row;      
    overflow-x: hidden;       
    width: 100vw;             
    padding-left: 20px;
    padding-bottom: 10px; 
}

.secondary-nav img {
    flex-shrink: 0;           /* Prevent images from shrinking to fit the container */
    width: auto;              /* Images retain their natural width */
    height: 100%;             /* Set the desired height for the images */
    object-fit: cover;        /* Ensure the images cover the set height without distortion */
    display: block;           /* Remove any gap below the images */
}

.main-section__main-text {
    box-sizing: border-box; /* Include padding and borders in the element's width */
    width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
}
p {
    margin: 0;
    margin-bottom: 20px; 
    line-height: 18px;  
}

.main-section__read-more-button {
    padding: 10px;
}
.main-section__main-image {
    width: 100%;
    overflow: hidden;
}
.main-section__main-image img {
    width: 100%;           /* Make the image take up 100% of the container's width */
    height: auto;          /* Maintain the image's aspect ratio */
    display: block;        /* Remove the bottom gap that may appear with inline images */
}

/* tablet styles */
@media screen and (min-width: 768px) {
    .header-text__desktop-button {
        display: none;
    }
    .site-nav__divider--small-screen-hide {
        display: none;
    }
    .site-nav__divider--mobile-hide {
        display: block;
    }
    .site-nav__button--hidden {
        display: block;
    }
    section {
        display: flex;
        flex-direction: row;
        width: 100%;    
    }
}

/* desktop styles */
@media screen and (min-width: 1120px) {
    html, body {
        max-width: 1600px;
        margin: 0 auto; /* Center the container */
        width: 100%; /* Make sure it takes the full width of the viewport until it reaches 1600px */
    }
    .header-text {
        display: flex;
        flex-direction: row; 
        overflow-x: hidden;
        justify-content: space-between;
        width: 100%; 
    }
    .header-text__desktop-button {
        display: block;
        display: flex;
        align-items: center; 
        padding: 10px; 
    }
    h1 {
        margin-right: auto;
    }
    div a {
        padding-right: 10px;
        text-decoration: none; /* Remove underline */
        color: inherit; /* Inherit the text color from the parent element */
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    .header-text__desktop-button img {
        padding-right: 10px;
    }
    .site-nav__button site-nav__button--hidden {
        display: none;
    }
    .site-nav {
        display: none;
    }
}